Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
babelfish==0.5.1
beautifulsoup4==4.3.2
charade==1.0.3
chardet==2.2.1
dogpile.cache==0.5.3
dogpile.core==0.4.1
enzyme==0.4.1
guessit==0.7.1
gunicorn==18.0
html5lib==0.999
itsdangerous==0.24
pysrt==1.0.1
pystache==0.5.3
pyxdg==0.25
requests==2.2.1
six==1.6.1
stevedore==0.15
wsgiref==0.1.2
